body {
    background-color: rgb(240, 212, 120);
    background-image: url(Háttér.jpg);
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: serif;
}

nav a {
    color: rgb(160, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
nav a:hover {
    background-color: rgb(198, 155, 0);
    font-weight: bolder;
}
  
footer {
    background-color: rgb(255, 204, 20);
    width: 1000px;
    color: rgb(160, 0, 0);
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}

footer div {
    margin: auto;
}

footer ul {
    list-style: none;
}

footer a {
    color: rgb(160, 0, 0);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

header {
    background-color: rgb(255, 204, 20);
    width: 1000px;
    color: rgb(160, 0, 0);
    text-align: center;
    padding: 10px;
    margin-top: 35px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    text-align: center;
    margin: 0px;
    font-size: 50px;
    font-weight: bold;
}

section h3 {
    text-decoration: underline;
}

header div {
    font-size: 25px;
}

header img {
    width: 975px;
    height: 200px;
    margin: 0px;
}

section {
    background-color: rgb(255, 242, 220);
    width: 1000px;
    padding: 10px;
    margin: auto;
    text-align: justify;
}

section table {
    border: 5px solid rgb(65, 41, 0);
    background-color: antiquewhite;
    text-align: center;
    margin: auto;
    width: 975px;
    font-size: 25px;
}

section thead, tbody, th, tr, td {
    border: 2.5px solid rgb(65, 41, 0);
}

#fooldal-templom {
    height: 200px;
    margin-right: 10px;
    margin-top: 10px;
}

#fooldal-atlan {
    height: 200px;
    margin-left: 10px;
    margin-top: 10px; 
}

.uzenet {
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: rgb(160, 0, 0);
}

#posszeidon-szigony{
    height: 200px;
    margin-right: 10px;
    margin-top: 10px; 
}

#atlantisz {
    height: 200px;
    margin-left: 10px;
    margin-top: 10px; 
}

#majak{
    height: 225px;
    margin-left: 10px;
    margin-top: 10px; 
}

#aztekok{
    height: 230px;
    margin-left: 10px;
    margin-top: 10px; 
}

#lemúria-elképzelése {
    height: 230px;
    margin-left: 10px;
    margin-top: 10px;
}

#lemúriai-táj {
    height: 230px;
    margin-right: 10px;
    margin-top: 10px;
}

#inka {
    height: 230px;
    margin-left: 10px;
    margin-top: 10px;
}

#inka-emberek {
    height: 230px;
    margin-right: 10px;
    margin-top: 10px;
}