body {
    background-color: rgb(240, 212, 120);
    background-image: url(Háttér.jpg);
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: serif;
}

nav a {
    color: rgb(160, 0, 0);
    text-decoration: none;
    font-weight: bold;
}
  
nav a:hover {
    text-decoration: underline;
    background-color: rgb(198, 155, 0);
    font-weight: bolder;
}
  
main {
    padding: 20px;
}
  
footer {
    background-color: rgb(255, 204, 20);
    width: 1000px;
    color: rgb(160, 0, 0);
    text-align: center;
    padding: 10px;
    margin: auto;
}
header {
    background-color: rgb(255, 204, 20);
    width: 1000px;
    color: rgb(160, 0, 0);
    text-align: center;
    padding: 10px;
    margin-top: 35px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    text-align: center;
    margin: 0px;
    font-size: 50px;
}

header li {
    font-size: 25px;
    display: inline;
    margin: 10px;
    list-style-type: none;
}

header img {
    width: 975px;
    height: 200px;
    margin: 0px;
}

main {
    background-color: rgb(255, 242, 220);
    width: 1000px;
    padding: 10px;
    margin: auto;
}